<app-navbar></app-navbar>
<div class="container">
	  <div class="page-header">
            <h1>Add Recipient</h1>

            <p class="lead">Add new recipient for your account</p>
        </div>
        <hr style="background-color: blue;"><br>
</div>

<div *ngIf="add_recip_sts" class="container">
	<div class="row">
		<div class="col-md-5">
			<ngb-alert type="success" [dismissible]="false">{{add_recip_msg}}</ngb-alert>
		</div>
	</div>
</div>

<div *ngIf="add_recip_sts==false" class="container">
	<div class="row">
		<div class="col-md-5">
			<ngb-alert type="warning" [dismissible]="false">{{add_recip_msg}}</ngb-alert>
		</div>
	</div>
</div>


<div class = "container">
<form novalidate #f="ngForm">
	<div class="row">
		<div class="form-group col-md-5">
			<label class="lead">Enter Recipient Email</label>
			<input type="text" class="form-control" [(ngModel)]="model.email" name="recpEmail" #recpEmail=ngModel>
		</div>
	</div>
	
	<div class="row">
		<div class="form-group col-md-5">
			<label class="lead">Enter Recipient Name</label>
			<input type="email" class="form-control" [(ngModel)]="model.name" name="recipName" #recipName=ngModel>
		</div>
	</div>
	
	<br>
	<input type="button" class="btn btn-success"  value="Add Recipient" (click)="addRecipient()">&nbsp;&nbsp;&nbsp;&nbsp;
	<input type="button" class="btn btn-warning" value="Back">
</form>
</div>